<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/style.css">
        <%- include("partials/cabecalho.ejs"); %>
        
    </head>
    <body>
        <div class="container">
            <img src="https://i.pinimg.com/736x/60/f3/b5/60f3b53a3fc5213185ed2ce947779476.jpg" style="margin-left: 24%;">
        </div>
        <%- include("partials/rodape.ejs"); %>
    </body>
</html>