<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <%if(status=="1"){ %>
            <br>
            <div class="alert alert-danger alert-dismissible">
                <b>Email ou Senha incorretos</b>
                <button type="button" class="btn-close" data-bs-dismiss="alert" slot="end"></button><br>
            </div>
        <% }else if(status == "2"){ %>
            <br>
            <div class="alert alert-success alert-dismissible">
                <b>Deslogado com sucesso</b>
                <button type="button" class="btn-close" data-bs-dismiss="alert" slot="end"></button><br>
            </div>
        <% }; %>
        <h2>Fazer Login</h2>
        <form action="/usuarios/login" method="post">
            <div><label class="form-label" for="email">Email: </label> <input class="form-control" type="email" id="email" name="email" required></div>
            <div><label class="form-label" for="senha">Senha: </label> <input class="form-control" type="password" id="senha" name="senha" required></div><br>
            <button type="submit" class="btn btn-success">Logar</button>
            <a href="/usuarios/cadastrar" class="btn btn-primary">Cadastrar-se</a>
        </form>
    </div>
    <%- include("../partials/rodape.ejs"); %>
</body>
</html>